:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  --very-dark-blue-bodybg: hsl(217, 54%, 11%); /*(main BG)*/
--very-dark-blue-cardbg: hsl(216, 50%, 16%); /*(card BG)*/
--very-dark-blue-line: hsl(215, 32%, 27%); /*(line)*/
--white: hsl(0, 0%, 100%);

}

html {
    background-color: var(--very-dark-blue-bodybg);
}
/*

### Primary

- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

### Neutral

- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%)

*/
